<div>
	<div class="top">
		<div class="logo"></div>
		<input
			class="input"
			ref:slugInput
			on:enter="add(this.value)"
			placeholder="GitHub repository owner/name"
			autofocus
		>
	</div>
	<div class="table">
		<div class="header">
			<div class="cell">
				Repository
			</div>
			<div class="cell">
				Last update
			</div>
			<div class="cell">
				Stars
			</div>
			<div class="cell">
				Open issues
			</div>
			<div class="cell">
				Closed issues
			</div>
			<div class="cell">
				Open PRs
			</div>
			<div class="cell">
				Merged PRs
			</div>
		</div>

		{#each $repos as repo, i}
			<RepoInfo repo={ repo } />
		{/each}

	</div>

	<div class="footer">
		<button
			on:click="clear()"
			title="Remove all items from this comparison"
			disabled={ !$repos.length }
		>
			Clear
		</button>
		<GetUrl />
	</div>
</div>

<style>
	.top {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logo {
		position: relative;
		width: 100px;
		height: 100px;
		background: url('./logo100.png') 50% 50% no-repeat;
		margin-bottom: 20px;
	}

	.input {
		width: 300px;
	}

	.footer {
		margin-top: 10px;
		display: inline-grid;
		grid-column-gap: 10px;
		grid-template-columns: auto auto auto;
	}

	.table {
		display: table;
		max-width: 100%;
	}

	.header {
		display: table-row;
		background-color: aliceblue;
	}

	.cell {
		display: table-cell;
		padding: 10px;
	}

	@media (max-width: 760px) {
		.header {
			display: none;
		}

		.table, .cell {
			display: block;
		}
	}
</style>

<script>
	import uniqBy from 'lodash.uniqby';
	import { showError, showSuccess } from 'notifications';
	import { get } from 'api';
	import {
		addMetric,
		GOAL_REPO_ADD,
		GOAL_REPO_CLEAR,
		GOAL_GET_URL
	} from 'metrics';
	import * as store from 'store';
	import RepoInfo from './RepoInfo';
	import GetUrl from './GetUrl';
	import sanitizeString from 'sanitizeString';

	const ENTER_KEY = 13;

	function keyEvent(code) {
		return function(node, callback) {
			function keydownHandler (event) {
				if (event.which === code) {
					callback.call(this, event);
				}
			}
			node.addEventListener('keydown', keydownHandler, false);
			return {
				destroy() {
					node.removeEventListener('keydown', keydownHandler, false);
				}
			};
		};
	}

	async function getRepoInfo(owner, name) {
		const result = await get('/api/repo', {
			params: {
				owner,
				name
			}
		});
		return result;
	}

	const updateRepo = async function (slug) {
		const { repos } = this.store.get();
		const repo = repos.find((repo) => repo.slug === slug);
		if (repo) {
			try {
				const repoInfo = await getRepoInfo(repo.owner, repo.name);
				const newRepo = {
					...repo,
					...repoInfo,
				};
				store.replaceRepo(slug, newRepo);
			} catch (err) {
				showError(err.message);
				store.removeRepo(slug);
			}
		}
	};

	export default {
		components: {
			RepoInfo,
			GetUrl,
		},
		methods: {
			add(slug) {
				addMetric(GOAL_REPO_ADD, { slug });
				const [owner, name] = slug
					.split('/')
					.map((str) => sanitizeString(str));
				if (!owner || !name) {
					showError('Enter valid github repository owner/name');
					return;
				}
				store.addRepo({
					slug,
					owner,
					name,
					url: `https://github.com/${ owner }/${ name }`
				});
				this.refs.slugInput.value = '';
				updateRepo.call(this, slug);
			},
			clear() {
				addMetric(GOAL_REPO_CLEAR);
				store.clearRepos();
			},
		},
		events: {
			enter: keyEvent(ENTER_KEY),
		},
	};
</script>
